!node_modules

node_modules/*
!node_modules/three

node_modules/three/*
!node_modules/three/build
!node_modules/three/examples

node_modules/three/build/*
!node_modules/three/build/three.module.js

node_modules/three/examples/*
!node_modules/three/examples/jsm
!node_modules/three/examples/js

node_modules/three/examples/js/*
!node_modules/three/examples/js/libs

node_modules/three/examples/js/libs/*
!node_modules/three/examples/js/libs/draco/

node_modules/three/examples/js/libs/draco/*
!node_modules/three/examples/js/libs/draco/draco_wasm_wrapper.js
!node_modules/three/examples/js/libs/draco/draco_decoder.wasm

node_modules/three/examples/jsm/*
!node_modules/three/examples/jsm/loaders
!node_modules/three/examples/jsm/controls
!node_modules/three/examples/jsm/webxr

node_modules/three/examples/jsm/loaders/*
!node_modules/three/examples/jsm/loaders/DRACOLoader.js
!node_modules/three/examples/jsm/loaders/GLTFLoader.js

node_modules/three/examples/jsm/controls/*
!node_modules/three/examples/jsm/controls/OrbitControls.js

node_modules/three/examples/jsm/webxr/*
!node_modules/three/examples/jsm/webxr/ARButton.js